/*===============================
SOMMARIO:
1. RESET
2. TIPOGRAFIA
    - classi utilità testo
3. LAYOUT
    A: HEADER
    B: MAIN
4. CLASSI UTILITA'
    - containers
    - bg-colors
===============================*/

/*----------- RESET -----------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*----------- TIPOGRAFIA -----------*/

:root {
  font-family: "Rubik Mono One", sans-serif;
}

h1 {
  font-size: 40px;
}

/*classi utilità testo*/

.text-center {
  text-align: center;
}

.yellow-text {
  color: yellow;
}

.green-text {
  color: green;
}

/*-------------- LAYOUT --------------*/

/*A. HEADER*/

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 30px 40px;
}

header ul {
  float: right;
  list-style: none;
}

header li {
  display: inline-block;
  padding: 10px;
}

a.pulsanti_nav {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;

  color: black;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/*B. MAIN*/

.modello_di_punta {
  width: 45%;
}

.modello_di_punta img {
  width: 100%;
}

/*----------- CLASSI UTILITA' -----------*/

/*containers*/

.full-page-container {
  position: relative;
  height: 100vh;
}

.container-centrato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*bg-colors*/
.bg-red {
  background: red;
}

.bg-green {
  background: green;
}

.bg-yellow {
  background: yellow;
}
